
.a{ font-family:FuturaMdBTMedium;}


.text_1 {
  font-size: 6vh; 
  font-weight: bold;
  width: 80%;
  text-align: center;
  position: absolute;
  top:50%;
  left:10%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  z-index:4;
}
.text_2 {
  font-size: 2vh; 
  font-weight: bold;
  width: 80%;
  text-align: center;
  position: absolute;
  top:49%;
  left:10%;
  z-index:3;
}

.custom
{
  height: 100%;
  width:100%;
  
}
.custom1
{
  height: 50%;
  width:100%;
}
.logo_text
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color:#610cfd;
  padding: 20px; 
  width: 9vw;
  height: 5vh;
  width: 30%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  z-index:3;
}

.logo_containers
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  width: 20vw;
  height: 15vh;
  width: 50%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  z-index:3;
  
}
.logo_containers :hover{
  transform: scale(1.3);
}
.logo_containers > div {
  background-color:#261841;
  border-radius: 50px;
  max-width:130px;
  max-height:90px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height:auto;
  margin: 10px;
  text-align: center;
  align-content: center;
  
  font-size: 50px;
}
.logo_containers > i {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.logo_text_containers
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  max-width: 500px;
  height: 15vh;
  width: 50%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  z-index:3;
  
}
.logo_text_containers > div {
  background-color:#261841;
  border-radius: 50px;
  min-width:100px;
  max-height:90px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height:auto;
  margin: 10px;
  display:inline-block;
  text-align: center;
  align-content: center;
  font-size: 1.1vw;
}
.logo_text_containers > i {
  display: inline-block;
  height: 100%;
  overflow-x:wrap;
  width: 100%;
}

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
  }
  

  .anim{
  
    /* Clip Background Image */
    
    background: url(animatedx.png) repeat;
    
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Animate Background Image */
    
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s ease infinite;
    
    /* Activate hardware acceleration for smoother animations */
    
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    
  }

  .world
{
-webkit-animation: spin1 10s infinite linear;
-moz-animation: spin1 10s infinite linear;
-o-animation: spin1 10s infinite linear;
-ms-animation: spin1 10 infinite linear;
animation: spin1 10s infinite linear;
    display: block;
}
 
@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
} 
  